<h3>Old Sign:</h3>
<textarea class="signInput" [formControl]="oldSign" rows="4" cols="40"></textarea>
<div class="formattedSign">
  <div *ngFor="let c of oldCharArray" class="letter_{{c}}">{{c}}</div>
</div>

<h3>New Sign:</h3>
<textarea [formControl]="newSign" rows="4" cols="40"></textarea>

<h3>Letters to Bring: {{lettersToBring?.length}}</h3>
<ul class="letterDiffList">
  <li *ngFor="let letterDiff of lettersToBring"><pre>"{{letterDiff.letter}}" - {{letterDiff.count}}</pre></li>
</ul>

<h3>Letters to Leftover: {{lettersLeftover?.length}}</h3>
<ul class="letterDiffList">
  <li *ngFor="let letterDiff of lettersLeftover"><pre>"{{letterDiff.letter}}" - {{letterDiff.count}}</pre></li>
</ul>
