<mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title>
      {{title}}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">
      <textarea matInput
      #board
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="4"
      cdkAutosizeMaxRows="8"
      cols="50"
      value="{{initValue}}"
      (input)="sendBoard(board.value)"></textarea>
      <div>{{currentValue}}</div>
  </mat-card-content>
</mat-card>
