<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="6" rowHeight="250px">
    <mat-grid-tile colspan="3">
      <app-board-editor title="Old Board" [initValue]="board.content" (boardValue)="setOldContent($event)"></app-board-editor>
    </mat-grid-tile>
    <mat-grid-tile colspan="3">
      <app-board-editor title="New Board" (boardValue)="setNewContent($event)"></app-board-editor>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <app-board-diff [lettersToBring]="lettersToBring"></app-board-diff>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <div>Stock goes here</div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <app-board-diff [lettersLeftover]="lettersLeftover"></app-board-diff>
    </mat-grid-tile>
  </mat-grid-list>
</div>
